In [1]:
from photonic_func import Photonic

In [2]:
photonic = Photonic()
photonic.config

'Cfg1'

In [3]:
photonic.config_

       Light Scene   Lens       Sensor        Op
Name
Cfg1  Laser1  Room  Lens1  Sensor1_850  CW_30fps
Cfg2  VCSEL2  Room  Lens2  Sensor1_550  CW_60fps

In [4]:
photonic.light_

        PeakPower_W  WaveLength_nm  Transmission  Hfov_deg  Vfov_deg
Name
Laser1           20            850          0.95        60        60
VCSEL2           10            940          0.95        60        60

In [5]:
photonic.scene_

          Distance_m  Reflectivity  AmbientLight_lux  Unnamed: 4
Name
Room               3           0.5              1000         NaN
Road_Day          60           0.5             30000         NaN

In [6]:
photonic.lens_

       F_num  Transmission  Unnamed: 3  Unnamed: 4
Name
Lens1    2.0           0.9         NaN         NaN
Lens2    2.4           0.9         NaN         NaN

In [7]:
photonic.sensor_

             PixelSize_m  Wavelength   QE   FF  ArrayRes_H  ArrayRes_V
Name
Sensor1_850     0.000005         850  0.3  0.7         640         480
Sensor1_550     0.000005         550  0.7  0.7         640         480

In [8]:
photonic.op_

          frame_rate  pulse_per_frame  InBurstDutyCycle  BurstTime_s
Name
CW_30fps          30                1            0.0036     0.033333
CW_60fps          60                1            0.5000     0.016667

In [9]:
print('=====\nWall flux = {:2.3} W/m**2\nSilicon flux = {:2.3}  W/m**2\nPhotoelectron = {:5.5} photonelectron/burst\n======'.format(
    photonic.wallFlux(), 
    photonic.siliconFlux(wall_flux=photonic.wallFlux()),
    photonic.photoelectron(siliconFlux=photonic.siliconFlux(wall_flux=photonic.wallFlux()))))

=====
Wall flux = 1.93 W/m**2
Silicon flux = 0.0541  W/m**2
Photoelectron = 118.14 photonelectron/burst
======

In [10]:
photonic = Photonic(config='Cfg2')

In [11]:
print('=====\nWall flux = {:2.3} W/m**2\nSilicon flux = {:2.3}  W/m**2\nPhotoelectron = {:5.5} photonelectron/burst\n======'.format(
    photonic.wallFlux(), 
    photonic.siliconFlux(wall_flux=photonic.wallFlux()),
    photonic.photoelectron(siliconFlux=photonic.siliconFlux(wall_flux=photonic.wallFlux()))))

=====
Wall flux = 0.963 W/m**2
Silicon flux = 0.0188  W/m**2
Photoelectron = 7351.0 photonelectron/burst
======